* {padding: 0;margin: 0;border: 0;}
  *, *:before, :after {-webkit-box-sizing: border-box;box-sizing: border-box;}  
  :focus, :active {outline: none;}  
  a:focus, a:active {outline: none;} 
  nav, footer, header, aside {display: block;} 
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 100%;} 
  input, button, textarea {font-family: inherit;}  
  input::-ms-clear {display: none;}  
  button {cursor: pointer;}
  button::-moz-focus-inner {padding: 0;border: 0;}
  a, a:visited {text-decoration: none;}
  a:hover {text-decoration: none;color: #9AA8b1;transition: .7s;}
  ul li {list-style: none;}
  img {vertical-align: top;}
  h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: inherit;}

@font-face {
    font-family: 'Chif-pif';
    src: url(../fonts/Satisfy-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'valaks';
    src: url(../fonts/SyneMono-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'oxymiron';
    src: url(../fonts/Oxygen-Regular.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'oxymiron';
    src: url(../fonts/Oxygen-Bold.ttf);
    font-weight: bold;
}
body{
      background:#2c4a52;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.logo{
    margin: 0 auto;
    padding: 45px 0  25px 0;
    font-size: 36px;
    font-family: 'oxymiron';
    font-weight: bold;
    display: flex;
    text-align: center;
    width: 15%;
}
.logo__name{
    padding-right: 5px;
    color: #f4ebdb;
    transition: 2s;
    transform: translate(-1000px,0);
}
.logo__surname{
    padding-left: 5px;
    color: #161f1f;
    transition: 2s;
    transform: translate(1000px,0);
}
.logo__name._active{transform: translate(0,0);}
.logo__surname._active{transform: translate(0,0);}
.main{
    width: 98%;
    margin: 0 auto;
    margin-top: 50px;
    background: #537072;
    padding-bottom: 25px;
    backdrop-filter: blur(4px);
    box-shadow: 60px -16px 10px #111818;
}
.info{
    width: 90%;
    margin: 0 auto;
    padding: 10px 0 10px 0 ;
    display: flex;
}
.info__avatar{
    width: 30%;
}
.info__text{
    font-size: 20px;
    line-height: 25px;
    font-family: 'oxymiron';
    padding: 25px 10px 15px 40px;
}
.info__contact{
    width: 100%;
    margin: 0 auto;
    padding-top: 45px;
    display: flex;
}
.info__contact i{color: #f4ebdb;transition: .5s;}
.info__contact i:hover{color: #161f1f;}
/*contact*/
.tg{
    margin-right: auto;
    width: 20%;
}
.ml{
    margin: 0 auto;
    width: 20%;
}
.git{
    margin-left: auto;
}
/**/
.info__avatar img{
    border-radius: 10px;
    transition: .5s;
}
.info__avatar img:hover{
    transform: translate(0,-5px);
    box-shadow: 5px 5px 10px #111818;
}
.info__avatar h4{
    font-size: 18px;
    color: #9AA8b1;
    padding: 10px 0 0 4px;
}
.works{
    width: 98%;
    margin: 0 auto;
    margin-top: 5px;
    background-color: #8e9b97;
    padding: 25px 10px 15px 10px;
    box-shadow: 60px -16px 10px #111818;
}
.works__title{
    font-size: 32px;
    color: #161f1f;
    font-family: 'oxymiron';
    font-weight: bold;
    margin: 0 auto;
    padding: 10px 0 45px 0;
    text-align: center;
}
.work{
    display: grid;
    grid-template-areas: 
    'mb mb ts sms'
    'mb mb ts salo';
    width: 100%;
    grid-gap: 0;
    padding-bottom:25px;
    height: 600px;
}
.mb{
    grid-area: mb;
    object-fit: cover;
    overflow: hidden;
}
.mb img:hover{
    opacity: 1;
    transform: scale(1.1);

}
.mb img{
    transition:  all 1s ease-out;
    opacity: .3;
    object-fit: cover;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.ts{
    grid-area: ts;
    overflow: hidden;
}
.ts img{
    transition:  all 1s ease-out;
    opacity: .3;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.ts img:hover{
    opacity: 1;
    transform: scale(1.1);
}
.sms{
    grid-area: sms;
    transition: 1s;
    overflow: hidden;
}
.sms img{
    transition:  all 1s ease-out;
    opacity: .3;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.sms img:hover{
    opacity: 1;
    transform: scale(1.1);
}
.salo{
    grid-area: salo;
    transition: 1s;
    overflow: hidden;
}
.salo img{
    transition:  all 1s ease-out;
    opacity: .3;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.salo img:hover{
    opacity: 1;
    transform: scale(1.1);
}
/*SUMMARY*/
.summary{
    width: 98%;
    margin: 0 auto;
    margin-top: 75px;
    padding: 25px 10px 15px 10px;
    background-color: #8e9b97;
    box-shadow: 60px -16px 10px #111818;
}
.summary__title{
    font-size: 28px;
    padding-bottom: 45px;
    font-family: 'oxymiron';
    font-weight: bold;
    color: #f4ebdb;
}
.summary__text{
    width: 80%;
    margin: 0 auto;
    line-height: 25px;
    font-size: 18px;
    font-family: 'oxymiron';
    font-weight: 300;
}
.summary__tags{
    width: 65%;
    margin-left: auto;
    display: flex;
    padding-top: 25px
}
.tag{
    background-color: #537072;
    border-radius: 100px;
    margin-left: 25px;
}
.tag p{
    padding: 5px 7px 5px 7px;
}
@media (max-width:1200px) {
    .container{
        width: 1000px;
    }
    .work{
        height: 489px;
    }
}
@media (max-width:1000px) {
    .container{
        width: 800px;
    }
    .info__text{
        font-size: 18px;
    }
    .work{
        height: 389px;
    }
}
@media (max-width:800px) {
    .container{
        width: 650px;
    }
    .info{
        width: 95%;
    }
    .info__avatar img{
        width: 200px;
    }
    .info__text{
        margin-left: auto;
    }
    .logo{
        width: 25%;
    }
    .work{
        height: 314px; 
    }
}
@media (max-width:540px) {
    .container{
        width: 440px;
    }
    .info{
        display: block;
    }
    .info__avatar{
        margin: 0 auto;
        width: 85%;
    }
    .info__avatar img{
        width: 350px;
        margin: 0 auto;
        text-align: center;
    }
    .summary__tags{
        width: 100%;
    }
    .logo{
        width: 45%;
    }
    .work{
        height: 210px;
    }
}